@font-face {
    font-family: 'abelregular';
    src: url('../font/abel-regular-webfont.woff2') format('woff2'),
        url('../font/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pinyon_scriptregular';
    src: url('../font/pinyonscript-regular-webfont.woff2') format('woff2'),
        url('../font/pinyonscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.service-text{
    color: white;
    font-family: 'abelregular';
    line-height: 25px;
}
/* .service .container{
   scroll-snap-align: start;

}
.service{
    scroll-snap-type: Y mandatory;
    scroll-snap-type: X mandatory;
    height: 100vh;

} */

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

h3 {
    font-size: bold;
}

 .hero-span{
    font-weight: bolder;
    font-size: 40px;
    font-family: "pinyon_scriptregular";
    color: burlywood;
}

.nav-btn {
    background-color: bisque;
    border: none;
}

ul {
    margin-left: 250px;
    /* display: flex;
    list-style-type: none; */
}

nav a {
    margin: 5px;
    text-decoration: none;
    color: black !important;
    font-size: 20px;
    
}
nav a:hover{
    color: burlywood !important;
    
}
.fa-navicon{
    display: none;
}

.hero-content {
    padding: 250px 150px;
    color: white;
}

.hero {
    background: url("../img/hero/gallery.jpg")no-repeat center/cover;
    background-color: rgb(83, 81, 81);
    background-blend-mode: soft-light;
    height: 550px;
}

.service {
    background-color: black;

}

.test-text {
    font-size: 40px;
    color: burlywood;
    background-color: transparent;
    font-family: "pinyon_scriptregular";
    font-weight: bold;
}

.service-content {
    color: burlywood;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 50px;
    font-family: "pinyon_scriptregular";
}

.pic1 {
    background: url("../img/gallery/offers1.jpg")no-repeat center/cover;
    height: 300px;
}
.pic2 {
    background: url("../img/gallery/h1_hero1.png")no-repeat center/cover;
    height: 300px;
}
.pic3 {
    background: url("../img/gallery/offers1.png")no-repeat center/cover;
    height: 300px;
}

.feedback {
    border: 1px solid burlywood;
    padding: 80px;
    color: white;
}

.service-list {
    display: flex;
    color: white;
    margin-top: 10px;
}

.h4 {
    margin-left: 5px;
}

.li {
    list-style-type: none;
    background-color: burlywood;
    width: 30px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 100px;
}

.about {
    background-color: whitesmoke;
    color: burlywood;
    line-height: 30px;
    padding: 80px;
    margin-top: 80px;
    position: relative;

}

.img {
    width: 550px;
    height: 450px;
    position: relative;
    left: 40px;
}

.gallery-text {
    color: burlywood;
    font-size: 40px;
    font-weight: bold;
    font-family: 'pinyon_scriptregular';
}

.history {
    padding-top: 200px;
    color: white;
    /* position: relative; */

}

.gallery {
    margin-top: 150px;
}

.pic5 {
    background: url('../img/gallery/h1_hero1.png')no-repeat center/cover;
    height: 400px;
}

.contact {
    color: burlywood;
    margin-top: 100px;
}

.contact-text {
    padding: 20px 0;
    line-height: 40px;
}

footer {
    margin-top: 50px;
    color: white;
}

footer h3 {
    color: burlywood;
    font-family: 'pinyon_scriptregular';
    font-size: 40px;
}

.link a {
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    display: block;
    color: white;
    font-size: 17px;
}

.footer-img {
    background: url('../img/gallery/footer_bg.jpg')no-repeat center/cover;
    background-color: rgb(21, 19, 19);
    background-blend-mode: soft-light;
    padding: 50px;
}

.fa {
    margin: 5px;
    font-size: 1.4rem;

}

.icons {
    color: burlywood;
    padding: 10px;
}
.icons a i{
    color: burlywood;
}

.service-img {
    height: 400px;
}

.gallery-btn {
    margin-left: 45%;
    background-color:burlywood;
}
.buttons{
    border: none;
}

.img1 {
    background: url('../img/works/ankara1.jpeg')no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: 0.7s ease-in-out;

}
.img1:hover{
    transform: scale(1.1);
}

.img2 {
    background: url('../img/works/baloon1.jpg')no-repeat center/cover;
    transform: scale(1);
    transition: 0.7s ease-in-out;
}
.img2:hover{
    transform: scale(1.1);
}

.img3 {
    background: url('../img/works/dinner1.jpeg')no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: 0.7s ease-in-out;
}
.img3:hover{
    transform: scale(1.1);
}
/* gallery section */
.gallery-hero{
    height: 350px;
}
.btn-control{
    padding: 10px 15px;
    background-color: burlywood;
    border: none;
    border-radius: 3px;
    
}
.work1{background: url('../img/works/dress2.jpg')no-repeat center/cover; height: 400px;}
.work2{background: url('../img/works/jumpsuit2.jpeg')no-repeat center/cover;height: 400px;}
.work3{background: url('../img/works/lace3.jpeg')no-repeat center/cover; height: 400px}
.work10{background: url('../img/works/dinner2.jpeg')no-repeat; height: 400px}
.work4{background: url('../img/works/ankara3.jpeg')no-repeat center/cover; height: 400px}
.work6{background: url('../img/works/jumpsuit1.jpeg')no-repeat center/cover; height: 400px}
.work7{background: url('../img/works/lace1.jpeg')no-repeat center/cover; height: 400px}
.work8{background: url('../img/works/ankara1.jpeg')no-repeat center/cover; height: 400px}
.work9{background: url('../img/works/baloon1.jpg')no-repeat center/cover; height: 400px}
.work11{background: url(../img/works/Baloon2.jpg)no-repeat center/cover; height: 400px}
.work12{background: url('../img/works/dinner3.jpg')no-repeat center/cover; height: 400px}
.work5{background: url('../img/works/dress3\ \(2\).jpg')no-repeat center/cover; height: 400px}

.button-section{
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.menu-item .item-box{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 2px;
    display: block;
}
.menu-item .item-box .work1,.work2,
.work3,.work4,.work5,.work6,.work7,.work8,
.work9,.work10,.work11,.work12{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map{
    height:535px;
    width: 550px;
}
#textarea{
    height: 140px;
}
.form-control{
    background-color: transparent;
}
.form{
    background-color:white;
    padding: 20px 15px;

}
.contactbtn{
    text-align: center;
}
.details{
    line-height: 40px;
}
.about-img {
    background: url('../img/gallery/h1_hero1.png')no-repeat center/cover;
    height: 450px;
}
.abt-btn{
    background-color: bisque;
    border: none;

}
.naviconbtn{display: none;}
.menu-item .active{

    padding: 2px;
    
}
.menu-item .delete{
    width: 0%;
    height: 0%;
}
.detail-title{
    color: burlywood;
    font-family: 'arialregular';
}
.to-top{
    color: white !important;
    font-size: 25px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: burlywood;
    border-radius: 20px;
    opacity:0;
    text-decoration: none;
    transition: all .4s ease;
}
.to-top.active{
    opacity:1 ;
    bottom: 15px;
    pointer-events: auto;
}
html{
    scroll-behavior: smooth;
}
.contactbtn{
    background-color: rgb(246, 213, 170);
}
@media only screen and (max-width:600px) {
    .hero{
        height: 400px;
    }
    .hero-content {
        padding: 150px 50px;
        color: white;
        }
    .to-top{
        font-size: 30px;
    }
    .gallery-text{
        padding-top: 100px;
    }
    .img{
        left: 0px;
    }
    .map{
        width: 470px;
    }
    .hero-text{
        font-family:  'pinyon_scriptregular';
    }
    .about{
        padding: 20px;
    }
    .buttons{
        margin-top: 5px;
    }
    nav ul{
        margin-left: 50px;
        width: 100%;
    }
   .service-img{
    margin-top: 5px;
   } 
    
    .gallery {
        margin-top: 10px;
    }
    .to-top{
        right: 15px;
    }
    .comment{
        font-size: 15px;
    }
    .history{
        padding-top: 80px;
    }
   
}
@media only screen and (max-width:900px) {
    .fa-navicon{display: block;}
    .nav-btn{display: none;}
   .nav-bar .active{
        height: 250px;
    }
    .nav-bar{
        display: block;
        position: absolute;
        top: 80px;
        height: 0px;
        overflow: hidden;
        background-color: white;
        opacity: 0.8;
        width: 100%;
    }
    nav ul{
        display: block;
        line-height: 10px;
    }
    .container-fluid{
        padding: 0px 40px;
    }
    .naviconbtn{
        background-color: rgb(195, 183, 166);
        border: none;
        display: block;
        border-radius: 5px;
        padding: 2px 5px;
    }
   
}